<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs') %>
</head>
<body>
<%- include('../layout/navbar.ejs') %>
<main>
    
       <div class="container" >
        <% if(blog.length > 0) {%>
         <div class="row">
          <% for(let y of blog) {%>
          <div class="col-md-6">
            <div class="card-inline">
                <div class=" card border-light mb-3" style="width: 30rem;">
                    <img class="card-img-top" src='<%= y.imageUrl %>' alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><b><%= y.title %></b></h5>
                      <p class="card-text"> <%= y.summery %> </p>
                    </div>
                  </div>
                 <a href='/blogs/<%= y.id %>' class="btn btn-outline-secondary">SeeMore</a>
            </div>
          </div>
          <%}%>
        </div>
        <%}%>
       </div>
   
</main>
</body>
</html>